# Modo: dev (local) o docker (Azure emulado)
mode=dev

# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=logyca_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=tu_contraseña_aqui

# Azure (solo necesario en modo docker)
AZURE_STORAGE_CONNECTION_STRING=
CONTAINER_NAME=sales-csv
QUEUE_NAME=sales-queue

# Directorio local para uploads (modo dev)
UPLOAD_DIR=./uploads